$dark: #8fc1e3;
$darker: #5085a5;
$dark-green: #687864;
$light: #f7f9fb;

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.navbar {
  height: 40px;
  width: 100%;
  padding: 12px;
  display: flex;
}

.navbar li {
  list-style-type: none;
  flex: 1;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  display: inline;
  margin: 25px;
}

.navbar .nav-text {
  font-size: 18px;
  color: $light;
}

/* Scrolling Effect */
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* parallax effect. You can set to scroll, to get rid of parallax effect
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../img/image1.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../img/image2.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("../img/maps.jpg");
  min-height: 400px;
}

.border-text-div {
  padding: 50px 80px;
}

.border-text {
  color: $light;
  font-size: 16px;
}
.section-dark {
  text-align: center;
  background-color: $dark;
  padding: 50px 80px;
}

.section-light {
  text-align: center;
  background-color: $light;
  padding: 50px 80px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: $darker;
  color: $light;
  padding: 20px;
}

/* Section One Conent*/
.section-one {
  display: flex;
}
.sect1-image-div {
  background: url("../img/maria-one-woman.jpg") no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: $light;
  flex: 1;
}

.sect1-text-div {
  padding: 18px;
  background-color: $dark;
  color: $light;
  flex: 2;
}

/* Section Two */
.section-two {
  display: flex;
}

.section-two-div-one {
  padding: 20px;
}

.section-two-div-two {
  padding: 20px;
}

/* Section Three */

.section-three {
  display: flex;
}
.section-three-div-one {
  padding: 1em;
}

.section-three-div-two {
  padding: 1em;
}

.section-three-div-three {
  padding: 1em;
}
/* Footer */
.footer {
  width: 100%;
  height: auto;
  padding: 8px;
  background-color: $dark;
  bottom: 0;
  text-align: center;
}

.footer li {
  display: inline-block;
}
.footer a {
  text-decoration: none;
  color: $light;
  padding: 1.8em;
  font-size: 18px;
}
